@import 'tailwindcss';

:root {
  --bg-button: #041f1f;
  --border: #041f1f;
  --color: #171717;
  --text-button: #b9dbdb;
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-bg-button: var(--bg-button);
  --color-border: var(--border);
  --color-color: var(--color);
  --color-text-button: var(--text-button);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-button: #b9dbdb;
    --border: #b9dbdb;
    --color: #ededed;
    --text-button: #041f1f;
    --background: #0a0a0a;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 24px;
  padding-left: 24px;
}
button {
  cursor: pointer;
}
